<!DOCTYPE html>
<html>
<head>
    <title>ql.io Runtime Monitor</title>
    <link rel='stylesheet' type='text/css' href='/mon/css/mon.css'/>
    <script type='text/javascript'
            src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js'></script>
    <script type='text/javascript' src='/mon/scripts/jquery.sparkline.min.js'></script>
    <script type='text/javascript' src='/mon/scripts/mon-client.js'></script>

</head>

<body>

<%- partial("header") %>

<div class="mask">
<%- body %>

<div class="footer">
<%- partial("footer") %>
</div>
</div>
</body>
</html>
