
<div id="conn-status"></div>
<div id="query">
    <textarea class="query-input" id="query-input"><%=script%></textarea>
</div>

<div>
    <div class="parse-status" id="parse-status"></div>
    <div class="util-links" id="util-links">
        <a id="run" href="#" class="button">run</a>
        <a id="debug" href="#" class="button">debug</a>
        <a id="step" href="#" class="button">step</a>
        <a id="copy-uri" href="#" class="button">copy uri</a>

    </div>
</div>

<div class='progress results' id='results'> </div>
<img id="dependencyMap" src="">