<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
    <script type="text/javascript" src="/scripts/jquery-min.js"></script>
    <script type="text/javascript" src="/scripts/jquery-ui.min.js"></script>
     <STYLE type="text/css">
        body { overflow: scroll }
    </STYLE>
</head>

<body>

<script type="text/javascript">
</script>

<div id="top-pane">
    <%- partial("header") %>
    <%- body %>
    <%- partial("footer") %>
</div>


<script type="text/javascript" src="/scripts/all.js"></script>
</body>
</html>
