<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/css/all.css"/>
  <script type="text/javascript" src="/scripts/jquery-min.js"></script>
  <script type="text/javascript" src="/scripts/jquery-ui.min.js"></script>
  <link rel="stylesheet" type="text/css" />
</head>

<body>
    <%- partial("header") %>
    <%- body %>
    <%- partial("footer") %>

    <script type="text/javascript" src="/scripts/compiler.js"></script>
    <script type="text/javascript" src="/scripts/all.js"></script>
</body>
</html>
