<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/css/all.css"/>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"/>
  <link rel="stylesheet" type="text/css" href="http://jquery.jcubic.pl/css/jquery.splitter.css"/>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" />
</head>

<body>
    <%- partial("header") %>
    <%- body %>
    <%- partial("footer") %>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/scripts/compiler.js"></script>
    <script type="text/javascript" src="/scripts/all.js"></script>
</body>
</html>
