<div id='header'>
    <img src="/images/ql.io-50.png" height="50pt"></img>
    <table class='header'>
        <tbody>
            <tr>
                <td><%=master.host%> <%=master.os%></td>
            </tr>
            <tr>
                <td>Running since <%=master.start%></td>
            </tr>
            <tr>
                <td>PID: <%=master.pid%></td>
            </tr>
    </tbody>
</table>

</div>
