<h2>In-flight Request URLs</h2>

<table class='in-flight'>
    <thead>
    <tr>
        <td>PID</td>
        <td>URL</td>
    </tr>
    </thead>
    <tbody>
<!--<% for(var i=0; i < workers.length; i++) {%>-->
  <!--<% for(id in workers[i].inflight) { %>-->
  <!--<tr>-->
      <!--<td><%=workers[i].pid%></td>-->
      <!--<td><%=workers[i].inflight[id]%></td>-->
  <!--</tr>-->
  <!--<% } %>-->
<!--<% } %>-->
    </tbody>
</table>


