<h2>In-flight Request URLs</h2>

<table class='in-flight'>
    <thead>
    <tr>
        <td>PID</td>
        <td>URL</td>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0; i < master.workers.length; i++) {%>
        <% for(id in master.workers[i].inflight) { %>
        <tr>
            <td><%=master.workers[i].pid%></td>
            <td><%=master.workers[i].inflight[id]%></td>
        </tr>
        <% } %>
    <% } %>
    </tbody>
</table>