<h2>In-flight Requests</h2>

<table class='in-flight'>
    <thead>
    <tr>
        <td>PID</td>
        <td>In-flight requests</td>
    </tr>
    </thead>
    <tbody>
        <% for(var id in master.workers) { %>
        <tr>
            <td><%=id%></td>
            <td><%=master.workers[id].inRequests - master.workers[id].outResponses%></td>
        </tr>
        <% } %>
    </tbody>
</table>