html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    width: 100%;
    font-family: 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
    color: #333333;
}

#splitter {
    min-width: 500px;
    min-height: 800px;
    width: 100%;
    height: 100%;
}

#top-pane {
    padding: 5px;
    overflow: auto;
}

#bottom-pane {
    width: 100%;
    overflow: auto;
    bottom: 0;
    position: fixed;
    min-height: 100px;
}

#splitter .hsplitbar {
    height: 4px;
    background: #d3d3d3 url(/images/hgrabber.gif) no-repeat center;
}

#splitter .hsplitbar.active, #splitter .hsplitbar:hover {
    background: #e88 url(/images/hgrabber.gif) no-repeat center;
}

textarea.query-input {
    background-color: #f8f8ff;
    padding: 10px 10px;
    height: 10em;
}

.parse-status {
    font-family: 'Droid Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace;
    color: red;
    width: 60%;
    float: left;
    padding: 10px 0;
}

#run-query {
    text-align: right;
    border: 1px solid #c4c8cc;
    padding: 5px;
    -moz-box-shadow: 1px 1px 1px #888;
    -moz-border-radius-bottomright: 2px;
    -webkit-box-shadow: 1px 1px 1px #888;
    -webkit-border-bottom-right-radius: 2px;
    box-shadow: 1px 1px 1px 1px #888;
    border-bottom-right-radius: 2px;
}

.code, textarea.query-input {
    padding: 4px;
    white-space: pre;
}

.results {
    overflow: scroll;
    font-family: monospace;
    border: 1px solid #eee;
    min-height: 2em;
}

#conn-status {
    font-size: small;
}

#ua-advice {
    background: #fafad2;
    border: 1px #d3d3d3 solid;
    font-size: small;
}

div.footer {
    font-size: small;
    padding-top: 1em;
}

div.html {
}

.util-links {
    padding: 10px 10px;
    text-align: right;
}

a.button, div.button {
    color: #6e6e6e;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F5F5F5), to(#F1F1F1));
    background: -moz-linear-gradient(linear, 0% 40%, 0% 70%, from(#F5F5F5), to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

a.button:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

a.button:active {
    color: #000;
    border-color: #444;
}

.in-progress {
    color: #808080;
}

div#navbar {
    right: 1em;
    margin-bottom: 2em;
}

div#navbar ul {
    float: right;
    list-style: none;
}

div#navbar ul li {
    display: inline;
}

div#navbar ul li a {
    right: 1em;
}

div.describe-table {
    font-family: 'Droid Sans', 'Helvetica', 'Arial', sans-serif;
}

div.describe-table .comments {
    font-style: italic;
    line-height: 0.25em;
}

div.describe-table table.desc-table thead td {
    background: #686868;
    color: white;
}

div.describe-table table.desc-table tbody td {
    background: #E6E6E6;
}

div.describe-table {
    font-size: small;
}

pre, code {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.red {
    color: red;
}

.green {
    color: green;
}

#har-title {
    font-size: small;
}