.har .method {
    text-align: left;
    text-transform: uppercase;
    max-width: 1em;
}

.har .url {
    display: inline-block;
    overflow: hidden;
    border-right: 1px solid grey;
    width: 20em;
    white-space: nowrap;
}

.har .status {
    max-width: 3em;
    text-align: right;
}

.har .bodySize {
    text-align: right;
    width: 3em;
    white-space: nowrap;
    display: inline-block;
}

.har pre {
    white-space: pre-wrap;
}

.har p.title {
    border-bottom: 2px solid #a9a9a9;
}

.har .request {
    border-bottom: 1px solid #efefef;
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-size: 10pt;
}

.har .timelineBar {
    white-space: nowrap;
    width: 400px;
    display: inline-block;
}

.har .timelinePad {
    white-space: nowrap;
    display: inline-block;
}

.har .timelineSlice {
    box-shadow: 0 0 1px #888888;
}

.har .timelineWaiting {
    background-color: #f3f3f3;
    border: 1px solid #e3e3e3;
}

.har .timelineBlocked {
    background-color: #E5DED3;
    border: 1px solid #D5CEC3;
}

.har .timelineDns {
    background-color: #056200;
    border: 1px solid #055200;
}

.har .timelineSsl {
    background-color: #456EAF;
    border: 1px solid #355E0F;
}

.har .timelineConnect {
    background-color: #B1493E;
    border: 1px solid #A1392E;
}

.har .timelineSend {
    background-color: #C648D3;
    border: 1px solid #B638C3;
}

.har .timelineWait {
    background-color: #DFA809;
    border: 1px solid #CF9809;
}

.har .timelineReceive {
    background-color: #764782;
    border: 1px solid #663772;
}

.har .timelineReminder {
    background-color: red;
    border: 1px solid red;
    display: block;
}

.har span.timelineSlice {
    margin: 0;
    height: 11pt;
    display: inline-block;
}

.har .plus {
    background-image: url(twisty-sprites.png);
    background-repeat: no-repeat;
    background-position: 3px 3px;
    cursor: pointer;
    max-width: 3em;
}

.har .minus {
    background-image: url(twisty-sprites.png);
    background-repeat: no-repeat;
    background-position: 3px -16px;
    cursor: pointer;
}

.har .header {
    margin: 0;
    font-weight: bold;
    color: #565656;
}

.har .body {
    margin: 2px 0;
}

.har span.time {
    width: 8em;
    text-align: right;
}

.har .ui-widget {
    font-family: inherit;
    font-size: inherit;
}

.har .ui-tabs .ui-tabs-nav {
    padding: 0;
}

.har .ui-widget-header {
    background: none;
}

.har .ui-tabs .ui-tabs-nav li {
    margin: 0;
}

.har .ui-widget-header {
    border: none;
    border-bottom: 1px solid #AAA;
}

.har .ui-tabs .ui-tabs-nav li a {
    padding: 2px;
}

.har .ui-tabs .ui-tabs-panel {
    padding-left: 4px;
}

.har .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}

.har .ui-widget-content {
    border: 1px solid #efefef;
}

.har .ui-widget {
    font-family: Lucida Grande, Tahoma, sans-serif;
}

.har .summary {
    padding-top: 8px;
    font-weight: bold;
}
